*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 16px;
    font-family: 'TT Lakes', sans-serif;
    color: #1B1C21;
}
.container{
    max-width: 100%;
    background-color: #F8F8F8;
}

/*----------------------START HEADER--------------------*/
.header{
    background-color: #fff;
}
.header__wrapper{
    padding: 18px 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.ui-button{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #FF3E79;
    border-radius: 50%;
}
.ui-button--hamburger-open{
    background-image: url(../assets/hamburger-icon.svg);
}
.ui-button--repair{
    background-image: url(../assets/repair-icon.png);
}
.ui-button--status{
    background-image: url(../assets/search-icon.png);
}
.header__logo{
    margin-right: auto;
    margin-left: 16px;
}
.feedback-menu{
    display: none;
}
.ui-button--phone{
    background-image: url(../assets/phone-icon.svg);
}
.ui-button--message{
    background-image: url(../assets/message-icon.svg);
}
.ui-button--user{
    background-image: url(../assets/user-icon.svg);
}
.repair-menu__item:not(:last-child){
    margin-right: 16px;
}
.repair-menu{
    display: flex;
}
.repair-menu__btn-description{
    display: none;
}
.title{
    color: #1B1C21;
    font-size: 28px;
    line-height: 1.42;
    font-weight: 700;
    position: relative;
}
.header__title{
    margin-top: 40px;
    flex-basis: 100%;
}
.title::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -16px;
    height: 100%;
    border-left: 4px solid #41F6D7;
    border-radius: 25%;
}

/*---------------------------------END HEADER-----------------------------*/

/*---------------------------------START HAMBURGER------------------------*/
.hamburger{
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 320px;
}
.hamburger__wrapper{
    padding: 18px 16px 32px 16px;
}
.hamburger__header{
    display: flex;
    align-items: center;
}
.hamburger__logo{
    margin-left: 16px;
    margin-right: auto;
}
.ui-button--hamburger-close{
    background-image: url(../assets/hamburger-close-icon.svg);
}
.ui-button--search{
    background-image: url(../assets/search-icon.svg);
}
.hamburger__list{
    margin-top: 26px;
}
.hamburger__list-item:not(:first-child){
    margin-top: 24px;
}
.hamburger__list-link{
    color: #1B1C21;
    line-height: 1.5;
    font-weight: 600;
}
.hamburger__list-link--active{
    color: #7E7E82;
    position: relative;
}
.hamburger__list-link--active::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -16px;
    height: 32px;
    border-left: 4px solid #41F6D7;
    border-radius: 25%;
}
.hamburger-footer{
    display: flex;
    flex-wrap: wrap;
}
.hamburger__footer{
    margin-top: 32px;
}
.feedback-menu__item:not(:last-child){
    margin-right: 16px;
}
.hamburger-footer__feedback-menu{
    flex-basis: 100%;
}
.hamburger-footer__email{
    flex-basis: 100%;
    margin-top: 16px;
}
.hamburger-footer__phone{
    flex-basis: 100%;
    margin-top: 12px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 24px;
    color: #1B1C21;
}
.language-list{
    display: flex;
}
.language-list__item:not(:last-child){
    margin-right: 7px;
}
.language-list__item--active{
    color: #7E7E82;
}


/*---------------------------------END HAMBURGER------------------------*/

/*---------------------------------START MAIN---------------------------*/

.main__wrapper{
    padding: 24px 16px 12px 16px;
}
.nav__list{
    display: flex;
    overflow: auto;
}
.nav__list-item{
    white-space: nowrap;
    margin-right: 12px;
    display: flex;
    align-items: center;
}
.nav__list-item:last-child{
    margin-right: 0;
}
.nav__link{
    padding: 6px 9px 6px 15px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #7E7E82;
}
.nav__link--active{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}
.article__text-content{
    margin-top: 24px;
}
.article__text-wrapper{
    max-height: 90px;
    overflow: hidden;
}
.article__text{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}
.article__text:not(:first-child){
    margin-top: 16px;
}
.article__more{
    margin-top: 16px;
    padding-left: 32px;
    font-weight: 600;
    background: url(../assets/more-icon.svg) no-repeat 16px center;
}
.article__image-content{
    margin-top: 16px;
}
.article__image{
    width: 100%;
}

/*-------------------------------------------END MAIN---------------------*/

/*-------------------------------------------START SLIDER BRAND---------*/
.slider{
    width: 100%;
    overflow: hidden;
}
.slider-section__header{
    margin-top: 16px;
    margin-bottom: 16px;
}
.slider-section__title{
    color: #7E7E82;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%)
}
.slider-section__content{
    margin-top: 16px;
    padding: 0 16px;
}
.brand-list__item{
    padding: 16px;
    margin-right: 16px;
    flex: 1 0 240px;
    background-color: #fff;
}
.brand-list__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ui-button--transparent{
    background-color: #fff;
    border: 2px solid #FF3E79;
    background-image: url(../assets/button-next.svg);
}
.swiper-pagination{
    position: static;
    margin-top: 16px;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: #DDDDDD;
}
.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
}
.show-more{
    display: none;
}
/*-------------------------------------------END SLIDER BRAND----------------*/
/*-------------------------------------------START SLIDER TECHNICAL----------*/

.technical-list__item{
    padding: 16px;
    margin-right: 16px;
    flex: 1 0 244px;
    background-color: #fff;
}
.technical-list__link{
    display: flex;
    flex-wrap: wrap;
}
.technical-list__title{
    flex-basis: 100%;
    color: #1B1C21;
    line-height: 1.5;
}
.technical-list__button{
    margin-top: 64px;
    margin-left: auto;
}