*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    opacity: .8;
}
html{
    font-size: 16px;
    font-family: 'TT Lakes', sans-serif;
    color: #1B1C21;
}
.container{
    max-width: 100%;
    background-color: #F8F8F8;
}
body{
    position: relative;
}
.max-height-none{
    max-height: none;
}
.overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(234, 243, 237, 0.9);
    display: none;
}
.overlay--active{
    z-index: 2;
    display: block;
}
@media only screen and (min-width : 1440px){
    body{
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }
    .container{
        margin-left: 320px;
    }
}