.header{
    background-color: $white;
    &__wrapper{
        padding: 18px 16px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__logo{
        margin-right: auto;
        margin-left: 16px;
    }
    &__feedback-menu{
        display: none;
    }
    &__title{
        margin-top: 40px;
        flex-basis: 100%;
        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            left: -16px;
            height: 100%;
            border-left: 4px solid #41F6D7;
            border-radius: 25%;
        }
    }

}

.repair-menu{
    display: flex;
    &__btn-description{
        display: none;
    }
}

.repair-menu__item:not(:last-child){
    margin-right: 16px;
}

.feedback-menu__item:not(:last-child){
    margin-right: 16px;
}

.title{
    color: $main-text-color;
    font-size: 28px;
    line-height: 1.42;
    font-weight: 700;
    position: relative;
}

.ui-button{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $btn-bg-color;
    border-radius: 50%;
    transition: all .5s ease-in;
    &:hover{
        opacity: .8;
        transform: scale(1.05);
    }
    &--hamburger-open{
        background-image: url(../img/hamburger-icon.svg);
    }
    &--repair{
        background-image: url(../img/repair-icon.png);
    }
    &--status{
        background-image: url(../img/search-icon.png);
    }
    &--phone{
        background-image: url(../img/phone-icon.svg);
    }
    &--message{
        background-image: url(../img/message-icon.svg);
    }
    &--user{
        background-image: url(../img/user-icon.svg);
    }
    &--hamburger-close{
        background-image: url(../img/hamburger-close-icon.svg);
    }
    &--search{
        background-image: url(../img/search-icon.svg);
    }
    &--transparent{
        background-color: $white;
        border: 2px solid $btn-bg-color;
        background-image: url(../img/button-next.svg);       
    }
}

@media only screen and (min-width : 768px){
    .header{
        &__wrapper{
            padding: 18px 24px;
        }
        &__logo::before{
            content: "";
            display: inline-block;
            height: 32px;
            border: 1px solid $border-color;
            margin-right: 20px;
            margin-left: 4px;
            vertical-align: middle;           
        }
        &__feedback-menu{
            display: flex;
        }
        &__title::before{
            left: -24px;
        }
    }

    .repair-menu::before{
        content: "";
        display: inline-block;
        height: 32px;
        border: 1px solid $border-color;
        margin-right: 20px;
        margin-left: 20px;
        vertical-align: middle;
    }
}

@media only screen and (min-width : 1120px){
    .header{
        background-color: transparent;
        &__wrapper{
            padding: 18px 32px;
        }
        &__title::before{
            left: -32px;
        }
    }
}

@media only screen and (min-width : 1440px){
    .ui-button--hamburger-open, .header__logo, .header__feedback-menu{
        display: none;
    }

    .header{
        &__wrapper{
            padding: 42px 32px 0 32px;
        }
        &__repair-menu{
            margin-left: auto;
        }
        &__title{
            margin-top: 0;
            flex-basis: auto;
            order: -1;
        }
    }

    .ui-button--hamburger-close{
        display: none;
    }

    .repair-menu{
        &::before{
            display: none;
        }
        &__link{
            display: flex;
            align-items: center;
        }
        &__btn-description{
            display: inline-block;
            padding-right: 8px;
        }
    }
}