.hamburger{
    background-color: $white;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 320px;
    transform: translateX(-320px);
    z-index: 3;
    transition: all .5s ease;
    height: 100%;
    &--active{
        transition: all .5s ease;
        transform: translateX(0);
    }
    &__wrapper{
        padding: 18px 16px 32px 16px;
    }
    &__header{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-left: 16px;
        margin-right: auto;      
    }
    &__list{
        margin-top: 26px;
    }
    &__list-item:not(:first-child){
        margin-top: 24px;
    }
    &__list-link{
        color: #1B1C21;
        line-height: 1.5;
        font-weight: 600;
        position: relative;
    }
    &__list-link:hover{
        color: $secondary-text-color;
    }
    &__list-link:hover::before{
        content: "";
        display: inline-block;
        position: absolute;
        left: -16px;
        height: 32px;
        border-left: 4px solid #41F6D7;
        border-radius: 25%;
    }
    &__footer{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
    }
    &__feedback-menu{
        flex-basis: 100%;
        display: flex;
    }
}

.contact-list{
    &__item{
        display: flex;
    }
    &__email{
        margin-top: 16px;
    }
    &__phone{
        margin-top: 12px;
        margin-bottom: 40px;
        font-weight: 800;
        font-size: 24px;
        color: $main-text-color;
    }
}

.language-list{
    display: flex;
    &__item:not(:last-child){
        margin-right: 7px;
    }
    &__item--active{
        color: $secondary-text-color;
    }
}

@media only screen and (min-width : 768px) {
    .hamburger{
        &__footer{
            margin-top: 240px;
        }
    }
}

@media only screen and (min-width : 1440px){
    .hamburger{
        display: block;
        transform: translateX(0);
        z-index: 1;
        &__wrapper{
            padding: 32px 32px 0 20px;
        }
        &__footer{
            margin-top: 240px;
        }
        &__logo{
            margin-left: 0;
        }
    }
}