.price-table{
    display: flex;
    overflow: hidden;
    &__body{
        display: flex;
        padding-bottom: 50px;
    }
    &__row:first-child{
        display: none;
    }
    &__row{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 0 260px;
        padding: 16px 0 20px 16px;
        position: relative;
        margin-right: 16px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: 6px;      
    }
    &__service::before{
        content: "Ремонтные услуги";
        display: block;
        margin-bottom: 6px;
        color: $secondary-text-color;
        font-size: 14px;       
    }
    &__price::before{
        content: "Цена";
        display: block;
        margin-bottom: 6px;
        margin-top: 16px;
        color: $secondary-text-color;
        font-size: 14px;       
    }
    &__time::before{
        content: "Срок";
        display: block;
        margin-bottom: 6px;
        margin-top: 16px;
        color: $secondary-text-color;
        font-size: 14px;
    }
    &__button{
        padding: 10px 42px 10px 16px;
        position: absolute;
        right: 16px;
        bottom: 24px;
    }
    &__pagination{
        display: block;
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
}



@media only screen and (min-width : 768px){
    .price-table{
        display: flex;
        font-size: 14px;
        &__body{
            flex-direction: column;
        }
        &__row:first-child{
            display: flex;
        }
        &__row{
            display: flex;
            flex-direction: row;
            padding: 0;
            align-items: center;
            flex: 0 1 auto;
            border: none;
        }
        &__row:first-child{
            background-color: transparent;
        }
        &__row:not(:first-child){
            border-top: 1px solid $border-color;
        }
        &__service::before{
            display: none;
        }
        &__price::before{
            display: none;
        }
        &__time::before{
            display: none;
        }
        &__head{
            flex: 0 1 20%;
            text-align: left;
            padding: 20px;
            color: $secondary-text-color;
        }
        &__head:first-child{
            flex: 0 0 40%;
        }
        &__cell{
            flex: 0 1 20%;
            text-align: left;
            padding: 20px;
        }
        &__cell:first-child{
            flex: 0 0 40%;
        }
    }

    .order-button{
        position: static;
    }
}

@media only screen and (min-width : 1120px){
    .price-table{
        &__body-cell:first-child{
            flex: 0 1 40%;
        }
        &__head-header:first-child{
            flex: 0 1 40%;
        }
        &__head-header{
            flex: 0 1 20%;
        }
    }
}